0,29 * * * * curl --data "uname=153050031&passwd=123456@" https://internet.iitb.ac.in/index.php >/dev/null 2>&1
@reboot curl --data "uname=153050031&passwd=123456@" https://internet.iitb.ac.in/index.php >/dev/null 2>&1
