[Desktop Entry]
Version=1.0
Type=Application
Name=PyCharm
Icon=/home/vikrant/Downloads/softwares/pycharm-5.0.4/bin/pycharm.png
Exec="/home/vikrant/Downloads/softwares/pycharm-5.0.4/bin/pycharm.sh" %f
Comment=Develop with pleasure!
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-pycharm
